[color]
	iu = auto
[user]
	name = Khoa-Bit
	email = 55542012+Khoa-bit@users.noreply.github.com
[core]
	editor = code --wait
	autocrlf = input
[credential "https://github.com"]
	helper = !/usr/bin/gh auth git-credential
[credential "https://gist.github.com"]
	helper = !/usr/bin/gh auth git-credential
